## Choosing the right estimator/algorithm for our problem
Scikit-Learn use estimator as another term for machine learning model or algorithm

* Classification - predicting wheather a sample is one thing or another
* Regression - Predicting a number

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#importing Boston housing dataset(sklearn dataset)
from sklearn.datasets import load_boston
boston = load_boston()
boston;

In [5]:
boston_df = pd.DataFrame(boston["data"], columns = boston["feature_names"])
boston_df["target"] = pd.Series(boston["target"])
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
len(boston_df)

506

In [14]:
# Let's try the Ridge Regression Model
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
# Setup random seed
np.random.seed(42)

# Create the data
X = boston_df.drop("target", axis=1)
y = boston_df["target"]

# Split into train and test sets
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2)

# Instantiate Ridge model
model = Ridge()
model.fit(X_train, y_train)

#check the score of the Ridge model on test data
model.score(X_test, y_test)

0.6662221670168519

How to improve this score

what if ridge is not working